body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body, #map {
	height: 500px;
	width: 100%;
}

button {
  height: 50px;
  width:fit-content;
}

button.searchButton {
  height: auto;
  display:none;
}
#searchButton.show {
  display: inline;
}

#btn1 {
  display: block;
}

#calcRoute{
  display: none;
}



#calcRoute.show {
  display:inline;
}

#getSupermarkets {
  float:right;
}

#getUrbanityButton {
  float:right;
}
#clearAll {
  float:right;
}

#profile_container {
  width:200px;
}


